@model IEnumerable<FlightProject.Models.FlightsDetailM>

@{
    ViewData["Title"] = "ShowFlightDetails";
}

<h1>Available Flights</h1>
<h1>Hello @ViewBag.Username</h1>
@*Now when we click on it , will go to Login(method)->Logout(action methods)
<a asp-controller ="Login" asp-action="Logout">Logout</a>*@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Airline.AirlineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceAirport.AirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestAirport.AirportName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Atime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dtime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FlightDate)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Airline.AirlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceAirport.AirportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestAirport.AirportName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Atime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dtime)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FlightDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="Flight" asp-action="BookFlight" asp-route-flightId="@item.FlightId" class="btn btn-success">Add</a>
              
            </td>
        </tr>//curd process-create,list,details,
}
    </tbody>
</table>